
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    --sidebar-colour: #22d3ee;  
    --header-colour: #d4d4d4;
}

body {
    display: grid;
    grid-template: 20vh 1fr / 20vw 1fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--sidebar-colour);
    color: white;
    padding: 10vh 10px;
}

.sidebar > * {
    margin-bottom: 10px;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--header-colour);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10vw;
}

button {
    font-family: inherit;
    color: white;
    background: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    cursor: pointer;
}

.content {
    padding: 20px;
}

.form_container {
    display: none;
}

#form_submit_button {
    color: black;
    border: 1px solid black;

}